{% extends 'base.html.twig' %}

{% block title %}Je le connecte{% endblock %}
    {% block titre %} {% endblock %}
{% block body %}
    <section>
        <div class="retour">
            <a href="{{path('dejauncompte')}}"><i class="fas fa-reply"></i></a>
        </div>
                <h1>M'inscrire</h1>

        <div class="formCompte">
        {{ form_start(form) }}
            <div class="formG">
                <p>{{ form_label(form.username) }}</p>
                <div class="form">
                {{ form_widget(form.username) }}
                </div> 
            </div>

            <div class="formG">
                <p>{{ form_label(form.password) }}</p>
                <div class="form">
                {{ form_widget(form.password) }}
                </div>
            </div>
            <div class="formG">
                <p>{{ form_label(form.verificationPassword) }}</p>
                <div class="form">
                {{ form_widget(form.verificationPassword) }}
                </div>
            </div>   
            <div class="formG">
                <button type="submit"class="btn"> S'inscrire </button>
            </div>
            {{ form_end(form) }}
        </div>

    </section>
{% endblock %}
