<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
        <div class="nom">
            <p>CupCake Addict</p>
        </div>
            <div class="logo">
                <a href="{{path('accueil')}}"><img src="{{ asset('image/Logo.jpg') }}" alt="CupaCake_Addict"></a>
            </div>
            <div class="navbar">
                <div class="bgRose">
                    <ul>
                        <li><a href="{{path('cupcakes')}}"> Les CupCakes </a></li>
                        <li><a href="{{path('dejauncompte')}}"> Se connecter </a></li>
                    </ul>                
                </div>

            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
